<h4 class="dialog-title">Download space</h4>

<div id="exports" style="overflow-y:scroll">
  <div class="dialog-section">
    <button v-on:click="download_space_as_pdf(active_space)" class="btn btn-sm btn-dark" style="margin-bottom: 1em">PDF</button>
    <button v-on:click="download_space_as_jpg_full(active_space)" class="btn btn-sm btn-dark" style="margin-bottom: 1em">JPG</button>
    <button v-on:click="download_space_as_png_full(active_space)" class="btn btn-sm btn-dark">PNG</button>
  </div>
</div>
